@media screen and (max-width: 768px){
  .leftSideImage{
    background: url('./image/bg2.png');
    background-position: 100% -200%;
    background-size: 1000px auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px){
  .rightSideImage{
    background: url('./image/bg1.svg');
  }
}
.slide.odd {
  margin-top: 2rem;
}